* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    width: 100%;
    height: 48px;
    background-color: #0C0032;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
}

#navLeft{
    margin-left: 8px;
}

#navLeft a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: none;
    padding: 8px 16px;
}

#navRight{
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 32px;
    height: 32px;
    color: white;
}

.balanceNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.balanceNav span{
    font-size: 1.25rem;
    margin-right: 8px;
    color: white;
}

.logout{
    border: none;
}
