* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background-color: rgb(13, 13, 13);
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
}

.navbar{
    width: 100%;
    height: 48px;
    background-color: #0C0032;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0px 8px;

}

#navLeft{
    margin-left: 8px;
}

#navRight{
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 32px;
    height: 32px;
    color: white;
}

.balanceNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.balanceNav span{
    font-size: 1.25rem;
    margin-right: 8px;
    color: white;
}
